<form id='form' action='/import' method='post'>
  <p>
    <input
      type='file' id='choose-file'
      name='file-name' accept='.xls'>
    </input>
  </p>
</form>

<script>
  document.getElementById("choose-file").addEventListener("change", () => {
    document.getElementById('form').submit();
  });
</script>
