<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>System Manager</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <style type="text/css" media="screen">
      .file-picker [type="file"] {
        display: none;
      }
      .file-picker:after {
        content: 'Imporuj';
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <div class="pull-right">
          <a href="/courses" class="btn btn-default" role="button">Lista kursów</a>
          <label class="btn btn-success file-picker">
            <form id='form' action='/import' method='post'>
              <input type="file" id='choose-file'
              name='file-name' accept='.xls' />
            </form>
          </label>
        </div>
        <div class="clearfix"></div>
      </div>

      <%= yield %>
    </div>
    <br><br>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script>
      document.getElementById("choose-file").addEventListener("change", () => {
        document.getElementById('form').submit();
      });
    </script>
  </body>
</html>
