<div style='text-align: center;'>
  <h2>Utwórz pracownika</h2>
</div>
<br>

<form id='newEmployeeForm' action='/employees' onsubmit="return validateForm()" method='post'>
  <input type="hidden" name="course_id" id="course_id" value="<%= course_id %>" />

  <div class="form-group row">
    <div class="col-sm-4"></div>
    <label for="title" class="col-sm-1 col-form-label">Tytuł</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="title" id="title" />
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="form-group row">
    <div class="col-sm-4"></div>
    <label for="name" class="col-sm-1 col-form-label">Imię</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="name" id="name" />
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="form-group row">
    <div class="col-sm-4"></div>
    <label for="surname" class="col-sm-1 col-form-label">Nazwisko</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="surname" id="surname" />
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="col-sm-4"></div>
    <button type="submit" class="btn btn-primary col-sm-4">Utwórz</button>
    <div class="col-sm-4"></div>
</form>

<script>
  const validateForm = () => {
    let valid = true;
    $('div.has-error').removeClass('has-error');

    form = document.forms["newEmployeeForm"];
    if (form['name'].value.trim().length == 0) {
      form['name'].parentElement.classList.add('has-error');
      valid = false;
    }

    if (form['surname'].value.trim().length == 0) {
      form['surname'].parentElement.classList.add('has-error');
      valid = false;
    }

    return valid;
  }
</script>
