<form action='execute' method='post'>
  <div class="row">
    <div class="col-md-4"></div>
    <input type='submit' class='btn btn-success col-md-4' value='Wykonaj'></input>

    <div class="col-md-4"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3"></div>
    <textarea class="col-md-6" name='script' rows='20' ><%= script %></textarea>
    <div class="col-md-3"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4"></div>
    <input type='submit' class='btn btn-success col-md-4' value='Wykonaj'></input>
    <div class="col-md-4"></div>
  </div>
</form>
