<form action='execute' method='post'>
  <input type='submit' class='btn btn-success' value='Wykonaj'></input>
  <br>
  <textarea name='script' rows='20' cols='80'><%= script %></textarea>
  <br>
  <input type='submit' class='btn btn-success' value='Wykonaj'></input>
</form>
