<form action='execute' method='post'>
  <div class="row">
    <div class="col-md-4"></div>
    <input type='submit' class='btn btn-success col-md-3' value='Wykonaj'></input>

    <div class="col-md-1"></div>
    <a href="#" class='btn btn-danger col-md-1' id="save">Zapisz</a>
    <div class="col-md-4"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3"></div>
    <textarea class="col-md-6" name='script' rows='20' id="script"><%= script %></textarea>
    <div class="col-md-3"></div>
  </div>
</form>

<script>
  const saveBtn = document.querySelector("#save");
  const scriptText = document.querySelector("#script").value;
  const type = "text/plain";
  const file = new Blob([scriptText], {type: type});

  saveBtn.href = URL.createObjectURL(file);
  saveBtn.download = "";
</script>
